.ContactHeader {
  display: flex;
  justify-content: space-between;
  height: 60px;
  flex: 1;
  border-bottom: 1px solid #532a84;
  width: 100%;

  .contactInfo {
    display: flex;
    justify-content: space-between;
    width: 300px;
    text-align: center;
    margin-right: 30px;
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  .loginLang {
    display: flex;
    justify-content: space-between;
    width: 400px;
    text-align: center;

    @media only screen and (max-width: 900px) {
      span {
        font-size: 0.5rem;
      }
    }
    .lang {
      width: 140px;
      display: flex;
      justify-content: space-between;
    }
  }
}
