.ContactHeader {
  display: flex;
  justify-content: space-between;
  height: 60px;
  flex: 1;
  border-bottom: 1px solid #532a84;
  width: 100%;

  .contactInfo {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-self: center;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  .loginLang {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    text-align: center;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media only screen and (max-width: 900px) {
      max-width: 1000px;
    }
    .lang {
      display: flex;
      justify-content: space-between;
    }
  }
  .loginButton {
    font-size: 13px;
    margin-right: 10px;
    direction: rtl;

    @media only screen and (max-width: 900px) {
      font-size: 10px;
      align-self: center;
      text-overflow: ellipsis;
      overflow: unset;
      white-space: nowrap;
    }
  }
}
.MuiMenu-root ul {
  background-color: #322e49;
  color: white;
}
